<ion-list>
    <ion-item>
      <ion-label>Aston Martin</ion-label>
      <app-button></app-button>
    </ion-item>
    <ion-item>
      <ion-label>Alfa Romeo</ion-label>
      <app-button></app-button>
    </ion-item>
    <ion-item>
      <ion-label>Audi</ion-label>
      <app-button></app-button>
    </ion-item>
    <ion-item>
      <ion-label>Bentley</ion-label>
      <app-button></app-button>
    </ion-item>
    <ion-item>
      <ion-label>BMW</ion-label>
      <app-button></app-button>
    </ion-item>
    <ion-item>
        <ion-label>Chevrolet</ion-label>
        <app-button></app-button>
      </ion-item>
      <ion-item>
        <ion-label>Henessey</ion-label>
        <app-button></app-button>
      </ion-item>
      <ion-item>
        <ion-label>Mercedes Benz</ion-label>
        <app-button></app-button>
      </ion-item>
      <ion-item>
        <ion-label>Mini</ion-label>
        <app-button></app-button>
      </ion-item>     
  </ion-list>