<ion-card>
    <img alt="car" src="https://www.mercedes-benz.com.co/mercedes/site/artic/20230718/imag/foto_0000000320230718121149/exterior.jpg" />
    <ion-card-header>
      <ion-card-title>Mercedes AMG G63</ion-card-title>
      <ion-card-subtitle>2025</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="car" src="https://www.topgear.com/sites/default/files/2024/08/DSC03341.jpg" />
    <ion-card-header>
      <ion-card-title>Mini Cooper S</ion-card-title>
      <ion-card-subtitle>2024</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.
    </ion-card-content>
  </ion-card>  