<ion-list>
    <ion-item>
      <ion-select placeholder="Option">
        <div slot="label">Select your city </div>
        <ion-select-option value="apple">Phoenix</ion-select-option>
        <ion-select-option value="banana">Los Angeles</ion-select-option>
        <ion-select-option value="orange">Chicago</ion-select-option>
        <ion-select-option value="orange">Miami</ion-select-option>
        <ion-select-option value="orange">Austin</ion-select-option>
        <ion-select-option value="orange">New York City</ion-select-option>
        <ion-select-option value="orange">Seattle</ion-select-option>
        <ion-select-option value="orange">Washington</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>